/* ---------- Hero Section ---------- */
.contact-hero {
  position: relative;
  height: 100vh;
  background: url('/images/sbg1.png') no-repeat center center / cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.content {
  position: relative;
  z-index: 10;
  max-width: 800px;
  padding: 0 60px 80px;

  h1 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;

    span {
      color: #fff;
      font-weight: 800;
    }
  }

  p {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 30px;
  }

}
/* Contact content section*/
.contact-section {
  padding: 80px 0;
  background-color: #f9f9f9;
  color: #033f4c;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 600;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007b8a;
  outline: none;
}

.btn-submit {
  background-color: #007b8a;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-submit:hover {
  background-color: #005f69;
}

.contact-info {
  padding: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
  font-size: 15px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  color: #007b8a;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #005f69;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
