<section class="about-hero">
  <div class="overlay"></div>
 <app-navbar></app-navbar>

  <div class="content">
   <h1>About Us</h1>
      <p>
      We are a management consulting firm specialized in: financial consultancy, tax consultancy, accountancy services, audit services, strategic planning and internal control design services.
      </p>
  </div>
</section>
<!--about one content-->
<!-- Team / Leadership Section -->
<section class="team-section1">
  <div class="team-container1">
    <div class="team-member1">
      <div class="team-image1">
        <img src="/images/team1.png" alt="Eric Foster" />
      </div>
      <div class="team-info1">
        <h2 class="team-name1">Alex Kiragu</h2>
        <h4 class="team-title1">Managing Director</h4>
        <h3 class="team-heading1">
          We help businesses and individuals navigate the complex world of finance.
        </h3>
        <p class="team-description1">
          Supervising, mentoring and managing a small group of managers. Maintaining relationships with clients, partners and other stakeholders. Managing the profits and losses of the organization or a specific division. Developing goals and initiatives to direct the company's course.
        </p>
      </div>
    </div>
  </div>
</section>

<!--About two Content-->
<section class="team-section">
  <div class="container">
    <h2>Meet Our Team</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="/images/team2.png" alt="Staff 1" />
        <h4>Abel Ndirangu</h4>
        <p>Financial Consultant</p>
      </div>
      <div class="team-member">
        <img src="/images/team3.png" alt="Staff 2" />
        <h4>Hosea Mutai</h4>
        <p>Tax Consultant</p>
      </div>
      <div class="team-member">
        <img src="/images/team1.png" alt="Staff 3" />
        <h4>Mary Mwende</h4>
        <p>Assets Manager</p>
      </div>
      <div class="team-member">
        <img src="/images/team2.png" alt="Staff 4" />
        <h4>Robert Brown</h4>
        <p>Internal Audit Manager</p>
      </div>
    </div>
  </div>
</section>

<!--Footer section-->
<app-footer></app-footer>

