<footer class="footer">
  <div class="footer-top">
    <div class="footer-left">
      <H1>Experts in:</H1>
      <br>
      <ul>
        <li><a (click)="scrollToService('service-01')">Financial Consultancy</a></li>
        <li><a (click)="scrollToService('service-02')">Tax Consultancy</a></li>
        <li><a (click)="scrollToService('service-03')">Accountancy & Bookkeeping Services</a></li>
        <li><a (click)="scrollToService('service-04')">Internal Audit Services</a></li>
        <li><a (click)="scrollToService('service-05')">Management Consultancy</a></li>
        <li><a (click)="scrollToService('service-06')">Project Management</a></li>
        <li><a (click)="scrollToService('service-07')">Commercial Services</a></li>
        <li><a (click)="scrollToService('service-08')">Strategic planning and internal control design services</a></li>
        <li><a (click)="scrollToService('service-09')">Asset & Fund Management</a></li>
      </ul>
    </div>

    <div class="footer-center">
      <h2 class="brand-name">AKH .S. CONSULTING<span>Financial, Tax & Management Consultants</span></h2>
      <p>
        The best management consulting firm for the business community and NGO’s in Africa
      </p>
      <p class="contact-number">+254 720 292 780</p>
      <p class="email">akhsconsulting@gmail.com</p>
    </div>

    <div class="footer-right">
     <ul>
      <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
      <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
      <li><a routerLink="/about" (click)="scrollToTop()">About Us</a></li>
      <li><a routerLink="/contact" (click)="scrollToTop()">Contact Us</a></li>
      <li><a routerLink="/value" (click)="scrollToTop()">Our Values</a></li>
      
    </ul>
    </div>
    
  </div>

  <div class="footer-bottom">
    <div class="bottom-left">
      <p>Copyright © 2025 AKH .S. CONSULTING</p>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="bottom-right">
      <p>Bringing Ideas Into Life</p>
    </div>
  </div>
</footer>

