<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img src="/images/logo2.png" alt="AKH .S. CONSULTING" />
      <h2>AKH .S. CONSULTING<span>Financial, Tax & Management Consultants</span></h2>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon-label">
            <span class="hamburger"></span>
        </label>

    <!-- Navigation Links -->
     <div class="nav-content">
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/value" routerLinkActive="active">Our Values</a></li>
    </ul>
  </div>
  </div>
</nav>

<!-- 
<nav class="navbar">
    <div class="container">
        
    <div class="logo">
      <img src="/images/logo2.png" alt="AKH .S. CONSULTING" />
      <h2>AKH .S. CONSULTING<span>Financial, Tax & Management Consultants</span></h2>
    </div>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon-label">
            <span class="hamburger"></span>
        </label>

        <div class="nav-content">
            <ul class="nav-links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" class="buy-btn">Buy Now</a>
        </div>
    </div>
</nav> -->